spring.sql.init.platform=postgres

spring.application.name=backend
spring.datasource.url=jdbc:postgresql://localhost:5432/bookdb

spring.datasource.username=myuser
spring.datasource.password=mypassword
spring.datasource.driver-class-name=org.postgresql.Driver
#spring.sql.init.mode=always

jwt.secret=QKLK73fM+PaB7necKQUR59JU6HXNO9GWGkV+sDY38ac= #CHANGE BEFORE PRODUCTION
jwt.access-token-expiration-minutes=15
jwt.refresh-token-expiration-days=7